.git
.github
.terraform
.pnpm-store
.wrangler
.wrangler-state
node_modules
web-apps/node_modules
web-apps/apps/api/node_modules
web-apps/apps/web/node_modules
web-apps/apps/api/dist
web-apps/apps/web/dist
terraform/*.tfstate
terraform/**/*.tfstate
terraform/**/*.tfstate.*
