# Local AWS credentials/profile used to run bootstrap.
AWS_PROFILE=
AWS_REGION=us-east-1

# Manually-created S3 bucket that stores terraform/bootstrap state.
# This bucket is not managed by Terraform.
BOOTSTRAP_STATE_BUCKET=
BOOTSTRAP_STATE_KEY=bootstrap/terraform.tfstate

# Terraform bootstrap inputs.
TF_VAR_AWS_REGION=us-east-1
TF_VAR_GITHUB_REPOSITORY=owner/repo
TF_VAR_GITHUB_BRANCH=main
TF_VAR_TF_STATE_BUCKET=
TF_VAR_TERRAFORM_ROLE_NAME=synthapi-terraform
