#!/bin/bash
set -euo pipefail

dnf -y update

cat >/etc/yum.repos.d/mongodb-org.repo <<'EOF'
[mongodb-org]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/amazon/2023/mongodb-org/8.0/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://pgp.mongodb.com/server-8.0.asc
EOF

cat >/etc/yum.repos.d/pritunl.repo <<'EOF'
[pritunl]
name=Pritunl Repository
baseurl=https://repo.pritunl.com/stable/yum/amazonlinux/2023/
gpgcheck=1
enabled=1
gpgkey=https://raw.githubusercontent.com/pritunl/pgp/master/pritunl_repo_pub.asc
EOF

dnf -y install pritunl pritunl-openvpn wireguard-tools mongodb-org

cat >/etc/sysctl.d/99-pritunl.conf <<'EOF'
net.ipv4.ip_forward = 1
EOF
sysctl --system

systemctl enable --now mongod
systemctl enable --now pritunl
